{% extends "seats/_base.html" %}
{% load seats_extrax %}
{% load static %}

{% block content %}
<div class="container">
    
    <div class="rest">
        <div class="rest__title">
           <img src="{% static 'seats/img/ballroom/BALLROOM.svg' %}" alt="">
        </div>
        <div class="rest__descr">
            <p class="rest_descr__txt">
                Для бронирования места на новогоднем банкете в ресторане BALLROOM обращайтесь по номеру телефона или заполнив форму ниже
            </p>
        </div>
        <div class="rest__btns">
            <a href="" class="">
                <div class="rest__btn btn-primary">
                    Отправить заявку
                </div>
            </a>
            <a href="" class="">
                <div class="rest__btn btn-primary">
                    Позвонить
                </div>
            </a>
        </div>
    </div>
    <div class="rassadka">
        <div class="rassadka__l">
        
        </div>
        <div class="rassadka__svg">
        
        </div>
        <div class="rassadka__r">
        
        </div>
    </div>
    <div class="places">
        <div class="places__container">
            <div class="places__title">
            
            </div>
            <div class="places__text">
            
            </div>
            <div class="places__btns">
            
            </div>
        </div>
    </div>



</div>
{% endblock content %}

