{% extends "seats/_base.html" %}
{% load seats_extrax %}
{% load static %}

{% block content %}
<div class="container">
    
    <div class="rest">
        <div class="rest__title">
           <img src="{% static 'seats/img/ballroom/ballroom_logo.svg' %}" alt="">
        </div>
        <div class="rest__descr">
            <p class="rest_descr__txt">
                Для бронирования места на новогоднем банкете в ресторане BALLROOM обращайтесь по номеру телефона или заполнив форму ниже
            </p>
        </div>
        <div class="rest__btns">
            <a href="" class="">
                <div class="rest__btn btn-primary">
                    Отправить заявку
                </div>
            </a>
            <a href="" class="">
                <div class="rest__btn btn-primary">
                    Позвонить
                </div>
            </a>
        </div>
    </div>
    <div class="rassadka">
        <div class="rassadka__l">
        <img src="{% static 'seats/img/ballroom/ras_puf_sliz_l.svg' %}" alt="">
        </div>
        <div class="rassadka__svg">
            <img src="{% static 'seats/img/ballroom/br_rassadka.svg' %}" alt="">
        </div>
        <div class="rassadka__r">
            <img src="{% static 'seats/img/ballroom/ras_grif_kog_r.svg' %}" alt="">
            <img class="rassadka__legend" src="{% static 'seats/img/ballroom/legend.svg' %}" alt="">
        </div>
    </div>
    <div class="places">
        <div class="places__container">
            <div class="places__title">
                <h3>Не нашли подходящее место?</h3>
            </div>
            <div class="places__text">
                Посмотрите другие залы новогоднего банкета Riviera Sunrise 5*
            </div>
            <div class="places__btns">
                <a href="{% url 'seats:grilled' %}" class="">
                    <div class="places__btn btn-primary">
                        THE GRILLED
                    </div>
                </a>
                <a href="{% url 'seats:tavrika' %}" class="">
                    <div class="places__btn btn-primary">
                        TAVRIKA
                    </div>
                </a>
                <a href="{% url 'seats:mangup' %}" class="">
                    <div class="places__btn btn-primary">
                        MANGUP
                    </div>
                </a>
                <a href="{% url 'seats:ballroom' %}" class="">
                    <div class="places__btn btn-primary places__btn_active">
                        BALLROOM
                    </div>
                </a>
            </div>
        </div>
    </div>
<img class="sun" src="{% static 'seats/img/ballroom/sun.svg' %}" alt="">
<img class="stars-1" src="{% static 'seats/img/ballroom/stars1.svg' %}" alt="">
<img class="stars-2" src="{% static 'seats/img/ballroom/stars2.svg' %}" alt="">
<img class="constellation" src="{% static 'seats/img/ballroom/constellation.svg' %}" alt="">
<img class="stars-3" src="{% static 'seats/img/ballroom/stars3.svg' %}" alt="">
<img class="star" src="{% static 'seats/img/ballroom/star.svg' %}" alt="">
<img class="moon" src="{% static 'seats/img/ballroom/moon.svg' %}" alt="">
<img class="stars-4" src="{% static 'seats/img/ballroom/stars4.svg' %}" alt="">
<img class="stars-5" src="{% static 'seats/img/ballroom/stars5.svg' %}" alt="">
<img class="hand" src="{% static 'seats/img/ballroom/hand.svg' %}" alt="">
<img class="stars-6" src="{% static 'seats/img/ballroom/stars6.svg' %}" alt="">


</div>
{% endblock content %}

