{% extends "seats/_base.html" %}
{% load seats_extrax %}
{% load static %}

{% block content %}
<div class="container">
    
    <div class="rest">
        <div class="rest__title">
           <img src="{% static 'seats/img/grilled/grilled_logo.svg' %}" alt="">
        </div>
        <div class="rest__descr">
            <p class="rest_descr__txt">
                Для бронирования места на новогоднем банкете в ресторане BALLROOM обращайтесь по номеру телефона или заполнив форму ниже
            </p>
        </div>
        <div class="rest__btns">
            <div class="rest__btn btn-primary">
                <script data-b24-form="click/156/g5ebgv" data-skip-moving="true">(function(w,d,u){var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})(window,document,'https://554228.selcdn.ru/upload-0c9fb98f02b7b9a0c737014bd1353adb/crm/form/loader_156_g5ebgv.js');</script>
            </div>            
            <a href="tel:+74992884341" class="">
                <div class="rest__btn btn-primary">
                    Позвонить
                </div>
            </a>
        </div>
    </div>

    <div class="rassadka">
        <div class="rassadka_m">
            <img src="{% static 'seats/img/grilled/legend_m.svg' %}" alt="">
        </div>
        <div class="rassadka__svg">
            <img src="{% static 'seats/img/grilled/gr_rassadka.svg' %}" alt="">
        </div>
        <div class="rassadka__rd">
            <img class="rassadka__legend_dwn" src="{% static 'seats/img/ballroom/legend.svg' %}" alt="">
        </div>
        <img class="stars-7" src="{% static 'seats/img/grilled/stars_7.svg' %}" alt="">
    </div>
    <div class="places">
        <div class="places__container">
            <div class="places__title">
                <h3>Не нашли подходящее место?</h3>
            </div>
            <div class="places__text">
                Посмотрите другие залы новогоднего банкета Riviera Sunrise 5*
            </div>
            <div class="places__btns">
                <a href="{% url 'seats:ballroom' %}" class="">
                    <div class="places__btn btn-primary">
                        BALLROOM
                    </div>
                </a>
                <a href="{% url 'seats:grilled' %}" class="">
                    <div class="places__btn btn-primary places__btn_active">
                        THE&nbsp;GRILLED
                    </div>
                </a>
                <a href="{% url 'seats:tavrika' %}" class="">
                    <div class="places__btn btn-primary">
                        TAVRIKA
                    </div>
                </a>
                <a href="{% url 'seats:mangup' %}" class="">
                    <div class="places__btn btn-primary">
                        MANGUP
                    </div>
                </a>
            </div>
        </div>
    </div>
<img class="sun" src="{% static 'seats/img/ballroom/sun.svg' %}" alt="">
<img class="stars-1 dsktp" src="{% static 'seats/img/ballroom/stars1.svg' %}" alt="">
<img class="stars-2 dsktp" src="{% static 'seats/img/ballroom/stars2.svg' %}" alt="">
<img class="constellation" src="{% static 'seats/img/ballroom/constellation.svg' %}" alt="">
<img class="stars-3 dsktp" src="{% static 'seats/img/ballroom/stars3.svg' %}" alt="">
<img class="star dsktp" src="{% static 'seats/img/ballroom/star.svg' %}" alt="">
<img class="moon dsktp" src="{% static 'seats/img/ballroom/moon.svg' %}" alt="">
<img class="hand dsktp" src="{% static 'seats/img/ballroom/hand.svg' %}" alt="">
<img class="stars-6 dsktp" src="{% static 'seats/img/ballroom/stars6.svg' %}" alt="">


</div>
{% endblock content %}

